<div class="col-lg-12">
<h2>Get In Touch</h2>

<p>Email: <a href="mailto:tamas.dogi@live.com">tamas.dogi@live.com</a></p>
<p>Skype: bestweaver</p>
<h3>Social media</h3>

<p>LinkedIn: <a href="http://www.linkedin.com/in/thomasdogi" target="_blank">http://www.linkedin.com/in/thomasdogi</a></p>
<p>Portfolio: <a href="http://portfolio.dogisoft.hu" target="_blank">http://portfolio.dogisoft.hu</a></p>
<p>Bitbucket: <a href="https://bitbucket.org/dogisoft/" target="_blank">https://bitbucket.org/dogisoft/</a></p>
<p>GitHub: <a href="https://github.com/dogitamas" target="_blank">https://github.com/dogitamas</a></p>
</div>