<div class="col-lg-12">
<h2>Welcome To My Portfolio Site</h2>
<img src="assets/images/2137e97.jpg" width="100" />

<p>My webiste has been modernized. This new website has been built in Angular 4. You can find all of my specialties and techniques here. Furthermore you can find some of my work examples and contact information as well.</p>
</div>
