
	<div class="col-lg-12">
	<h2>Pricing</h2>

	<p>My hourly rate is normally about $20-30. But it can be different, depends on the circumstances.</p>

	<p>Feel free to contact me if you need my workforce. Email me your spec. and I will get back to you with my proposal within 48 hours.</p>
	</div>
