@font-face {
    font-family: Fresca;
    src: url('/assets/fonts/Fresca-Regular.ttf');
}

h1, h2 {
    font-family: Fresca;
    color: #010101;
}

img{
  margin-bottom: 0px;
  min-height: 60px;
  opacity: 1;
  transition: opacity 0.3s;  
	box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);  	
	-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15); 
}

.block .title{
    bottom: 15px;
    color: #343434;
    padding: 6px 10px;
    display: block;
    background-color: #fafafa;
    font-size: 10px;
    width: auto;
    font-weight: bold;
    position: relative;
	box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);  	
	-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);	
}