<div class="col-lg-12">
	<h2>{{title}}</h2>
	<div class="row">
	
		<div *ngFor="let item of refs">		  
			<div class="col-sm-3">
				<div class="block">
					<img src="assets/img/ref/{{ item.url }}" class="img-responsive" />
					<div class="title">{{item.title}}</div>
				</div>			  
		</div>	
	</div>		
</div>