<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tamas Dogi</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="pure-menu-item"><a class="pure-menu-link" routerLink="/competencies">competencies</a></li>
        <li class="pure-menu-item"><a routerLink="/references" class="pure-menu-link">references </a></li>
		<li class="pure-menu-item"><a routerLink="/techniques" class="pure-menu-link">techniques </a></li>
		<li class="pure-menu-item"><a routerLink="/contact" class="pure-menu-link">contact </a></li>
		<li class="pure-menu-item"><a routerLink="/pricing" class="pure-menu-link">pricing </a></li>		        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
