@font-face {
    font-family: Fresca;
    src: url('/assets/fonts/Fresca-Regular.ttf');
}

h1, h2 {
    font-family: Fresca;
    color: #010101;
}

span{
	padding: 3px 10px;
	display: inline-block;
	border-radius: 3px;
	background-color: #ddd;
	color: #000;
	margin: 10px;
	box-shadow: #ddd 1px 1px 1px 1px;	
}